<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.container {
	min-width: 800px;
	max-width: 1600px;
	margin-left: 100px;
	height: 100vh;
}

.option-group {
	text-align: right;
}

.table-container {
	width: 80%;
	margin: 50px auto;
}

.border-table {
	width: 100%;
}
</style>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>

</head>
<body>

	<div class="container">
		<h1>게시글 보기</h1>

		<div class="option-group">
			<select id="order">
				<option value="created_at">최신순</option>
				<option value="avg">평점순</option>
				<option value="count">댓글수</option>
				<option value="views">조회수</option>
			</select>
			<th:block th:if="${session.loginId != null}">
				<button onclick="location.href='/boards/write'">게시글 쓰기</button>
		</div>
		</th:block>

		<div class="table=container">
			<table class="board-table">
				<colgroup>
					<col width="5%" />
					<col width="40%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="10%" />
					<col width="20%" />
				<thead>
					<tr>
						<th>순번</th>
						<th>게시글 제목</th>
						<th>조회수</th>
						<th>평점</th>
						<th>댓글수</th>
						<th>작성자</th>
						<th>생성일</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

</body>

<script>
	window.onload = function() {

		renderingBoards();
		
		addEventOnSelectbox();

	}
	
	function addEventOnSelectbox() {
		
		var orderSelectBox = document.querySelector("#order");
		
		orderSelectBox.addEventListener("change", function(e){
			
			//console.log(e.target.value);
			var order = e.target.value;
			
			renderingBoards(order);
		});
	}

	function renderingBoards() {

		var url = "/boards/list";
		
		if(arguments[0] != null){
			url += "?order=" + arguments[0];
		} 

		$.ajax({
			url : url,
			method : "GET",
			timeout : 5000,
			contentType : "application/json",
			success : function(data, a, b) {

				console.log(a);
				console.log(b);

				_cb_renderingBoard(data);
			},
			error : function(a, b) {
				console.log(a);
				console.log(b);
				alert("에러");
			}
		});
	}

	function _cb_renderingBoard(data) {

		var tbody = document.querySelector(".board-table tbody");

		tbody.innerHTML = "";

		var html = "";

		for (var i = 0; i < data.length; i++) {
			html += "<tr>";
			html += "<td>" + data[i].idx + "</td>";

			html += "<td><a href='/boards/" + data[i].idx + "/detail'>"
					+ data[i].title + "</a></td>";

			//html += "<td>" + data[i].title + "</td>";
			html += "<td>" + data[i].views + "</td>";

			html += "<td>" + data[i].avg + "</td>";
			html += "<td>" + data[i].count + "</td>";

			html += "<td>" + data[i].createAccountId + "</td>";
			html += "<td>" + data[i].createdAt + "</td>";
		}

		tbody.innerHTML = html;

	}
</script>
</html>