<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
.container {
	min-width: 800px;
	max-width: 1600px;
	margin-left: 100px;
	height: 100vh;
}

.title-wrapper{
	margin-bottom: 30px;
}

.write-info-wrapper label{
	font-weight: bolder;
	margin-right: 5px;
}

.wirte-info-wrapper span{
	margin-right: 20px;
}

</style>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>게시글 상세 페이지</h1>
		
		<form method="post" action="/boards" th:object="${boardDetail}">
		
			<div class="write-info-wrapper">
				<label>작성자</label>
				<span th:text="*{createAccountId}">작성자 아이디</span>
				<label>작성 날짜</label>
				<span th:text="*{createdAt}">작성일자</span>	
			</div>
			
			
			<div class="title-wrapper">
				<h4>
					<label for="title">게시글 제목</label>					
				</h4>
				<input type="hidden" name="idx" id="idx" readonly th:field="*{idx}">
				<input type="text" name="title" id="title" readonly th:field="*{title}">			
			</div>
			<div class="contents-wrapper">
				<h4>
					<label for="contents">게시글 내용</label>
				</h4>
				<textarea name="contents" id="contents" cols="30" rows="10" readonly th:field="*{contents}"></textarea>
			</div>
			
			<th:block th:if="${session.loginId != null && session.loginId == boardDetail.createAccountId}">
			<div class="btn-wrapper">
				<button type="button">수정</button>
			</div>
			</th:block>
			
		</form>	
	</div>
</body>
</html>