<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerok.mapper.CommentMapper">

	<insert id="enrollComments" parameterType="CommentsVO">
	
		INSERT INTO bp1.comments(board_idx, grade, comments, create_account_id, created_at, modify_account_id, modify_at)
		VALUES(#{boardIdx}, #{grade}, #{comments}, #{createAccountId}, now(), #{modifyAccountId}, now())
		;	
	
	</insert>
	
</mapper>